<section class="container-hot-sales">
  <h2 class="title">Mais Pedidos</h2>

  <div class="container-products">
    <div class="hot-sales">
      <img src="../../../assets/images/pizza1.png" alt="">
      <h2>Calabresa</h2>
      <p class="type">Clássica e auténtica</p>
      <p class="price">R$ 25,00</p>
    </div>

    <div class="hot-sales">
      <img src="../../../assets/images/pizza2.png" alt="">
      <h2>Carbonara</h2>
      <p class="type">Clássica e auténtica</p>
      <p class="price">R$ 25,00</p>
    </div>

    <div class="hot-sales">
      <img src="../../../assets/images/pizza3.png" alt="">
      <h2>Bolonhesa</h2>
      <p class="type">Clássica e auténtica</p>
      <p class="price">R$ 25,00</p>
    </div>

    <div class="hot-sales">
      <img src="../../../assets/images/pizza4.png" alt="">
      <h2>Shimeji</h2>
      <p class="type">Clássica e auténtica</p>
      <p class="price">R$ 25,00</p>
    </div>
  </div>
</section>
