<section class="container-details">
  <div class="details">
    <div class="quality-foods">
      <img src="../../../assets/images/icon_1.png" alt="">
      <h2>Qualidade</h2>
      <p>Ingredientes selecionados, utilizamos apenas ingredientes orgânicos.</p>
    </div>

    <div class="fastest-delivery">
      <img src="../../../assets/images/icon_3.png" alt="">
      <h2>Entrega Rápida</h2>
      <p>Entregamos o seu pedido no mesmo dia!</p>
    </div>

    <div class="original-recipes">
      <img src="../../../assets/images/icon_2.png" alt="">
      <h2>Receitas Originais</h2>
      <p>Todas as nossas receitas são receitas milenáres de nossa família.</p>
    </div>
  </div>
</section>
