.nav-container {
  background-color: #1a1919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 176px;
    height: 100px;
    padding-top: 3rem;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 2rem;
    text-transform: uppercase;
    color: #FFFFFf;
  }
  .divider {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 28%;
    background: transparent;
  }
   .divider::after {
      content: '';
      position: absolute;
      left: 0; right: 0; bottom: -20px;
      height: 20px;
      background-image: linear-gradient(45deg,transparent 75%,#1a1919 75%),
                        linear-gradient(-45deg,transparent 75%,#1a1919 75%);
      background-position: center;
      background-size: 20px 20px;
    }
}
