.nav-container {
  background-color: rgb(26, 25, 25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 176px;
    height: 98px;
    padding-top: 3rem;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 2rem;
    text-transform: uppercase;
    color: #FFFFFf;
  }
  .divider {
    background-image: linear-gradient(rgb(26, 25, 25), rgb(26, 25, 25)), linear-gradient(-45deg, transparent 75%,rgb(26, 25, 25) 75%), linear-gradient(45deg, transparent 75%, rgb(26, 25, 25) 75%);
    width: 100%;
    height: 10px;
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 258px;
    border: solid transparent;
    border-width: 10px 0;
    background-color: #121618;
    background-color: hsla(0, 0%, 0%, 0);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
    background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
    z-index: 100;
  }
}
